* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

div.nav-left {
    background-color: #ccc;
    height: 60%;
    width: 160px;
}

div.nav-mid {
    flex-grow: 1;
}

div.nav-right {
    display: flex;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar > * {
    margin: auto 10px auto 10px;
}

.category-dropdown {
    padding-left: 10px;
}

.search {
    width: 100%;
    font-size: large;
}

.input-group {
    height: 40px;
    display: flex;
}


.sell-btn {
    width: 100px;
    height: 40px;
    margin-right: 10px;
}

.pfp {
    background-color: #ccc;
    width: 50px;
    height: 50px;
}

/* Content Body */

.result-bar {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 15px;
}

.results {

}

.sort-by {
    text-align: end;
}

.content {
    margin: 25px 50px 25px 50px;
}

.body-grid {
    display: grid;
    grid-template-columns: 320px auto;
}

.filter-column {
    height: auto;
    background-color: red;
    margin-right: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.card {
    background-color: blue;
    margin: 0px 10px 20px 10px;
    height: 450px;
    width: auto;
}

